.Rproj.user
.Rhistory
.RData
.Ruserdata
*.RData
GOA/Model runs/GOA_18.5.1/Models/Random_effects_models_3iter_w_hessian.7z
AI cod - Dev/SS3/AI Cod.zip
*.rds
*.o
*.so
*.dll
ADMB_models/.DS_Store
.DS_Store
GOA cod/Data/goa_pcod/ss3-source-code-mainRplots.pdf
.Rapp.history
Rplots.pdf
